{{- $u := urls.Parse .Destination -}}
{{- $src := $u.String -}}
{{- if not $u.IsAbs -}}
{{- $path := strings.TrimPrefix "./" $u.Path -}}
{{- with or (.PageInner.Resources.Get $path) (resources.Get $path) -}}
{{- $src = .RelPermalink -}}
{{- with $u.RawQuery -}}
{{- $src = printf "%s?%s" $src . -}}
{{- end -}}
{{- with $u.Fragment -}}
{{- $src = printf "%s#%s" $src . -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{/* Handle Obsidian-style image sizing */}}
{{- $alt := .Text -}}
{{- $width := "" -}}
{{- if strings.Contains .Text "|" -}}
{{- $parts := split .Text "|" -}}
{{- $alt = index $parts 0 -}}
{{- $width = index $parts 1 -}}
{{- end -}}

{{- $attributes := dict "src" $src "loading" "lazy" "style" "cursor: pointer;" "onclick" (printf "window.open('%s',
'_blank')" $src) -}}
{{- if $alt -}}
{{- $attributes = merge $attributes (dict "alt" $alt) -}}
{{- end -}}
{{- if $width -}}
{{- $attributes = merge $attributes (dict "width" $width) -}}
{{- end -}}
{{- with .Title -}}
{{- $attributes = merge $attributes (dict "title" (. | transform.HTMLEscape)) -}}
{{- end -}}

<img {{- range $k, $v :=$attributes -}} {{- if $v -}} {{- printf " %s=%q" $k $v | safeHTMLAttr -}} {{- end -}} {{- end
    -}}>
