{{- with site.Params.homeInfoParams }}
<article class="first-entry home-info">
    <header class="entry-header">
        <div style="max-width: fit-content;">
            <img src="/images/profile.jpg" alt="Profile Picture"
                style="width: 50%; min-width: 200px; aspect-ratio: 1; border-radius: 50%; object-fit: cover; margin-bottom: 20px; display: block;">
        </div>
        <h1>{{ .Title | markdownify }}</h1>
    </header>
    <div class="entry-content">
        {{ .Content | markdownify }}
    </div>
    <footer class="entry-footer">
        {{- partial "social_icons.html" (dict "align" "center" "Icons" site.Params.socialIcons) -}}
    </footer>
</article>
{{- end }}
